.top-bar
{
     background-color: rgba(19, 13, 102, 0.859);
     height: 2.4em;
}
.navbar{
   font-weight: 600; 
}

  .underline {
    display: inline-block;
    position: relative;
    
  }
  
  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0.3em;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }